.destaque {
  width: 15%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  font-size: larger;
  border-radius: 5px;
  height: 30px;
  color: white;
}