<header class="main-header">
  <nav>
    <ul>
      <li><a href="/">V I K I N G S <br> BEERHOUSE </a></li>
      <li><a href="#">SOBRE</a></li>
      <li><a href="/product">PRODUTOS</a></li>
      <li><a href="#">MINHA CONTA</a></li>
      <li><a href="#"><img src="/images/Logo sem fundo 600x600.png" alt="VIKINGS BEERHOUSE" class="imagem-logo" width="100px" height="150px"></a></li>
      <li><a href="#">
        <form action="/search" method="GET" class="search-form">
          <input type="text" name="keywords" placeholder="Pesquisar"
            class="search-form_input">

         <img src="#" alt="Minha Conta" width="20">
            <p>Faça <br>Seu <br>Login</p>
          
        </a>
      </li>
      <li><a href="../Tela de Carrinho/index.html">
          <img src="/images/Shopping Cart.png" alt="Meus Pedidos" width="20">
            <p>Meus <br> Pedidos</p>
          
        </a>
      </li>
    </ul>
  </nav>
</header>
