<!DOCTYPE html>
<html>
  <%- include('includes/head', { title: 'Minhas Compras' }) %>

<body>
  <%- include('includes/header') %>

  <main>
    <div class="meu-carrinho">
      <div class="tittle-meucarrinho">
        <h1> Meu Carrinho</h1>
        </div>

          <div class=" container-fluid" id="carrinho-produto">
            <div class="quantrow" id="produto" *ngFor="let item of carrinho"></div>
              <div class="col-md-4"> 
              <img  src=/image/icon/bread.png alt="">
            </div>
              <div class="col-md-3">
                <p id="nome">Nome do Produto</p>
                <p id="preco">R$ 0,00</p>
              </div>
              <div class="col-md-3">
                <p class="bastian" id="quant-product">x 1</p>
              </div>
              <div class="col-md-3">
                <p id="precoParcial">R$ 0,00</p>
              </div>
            </div>
          </div>
          <div class="confirma">
            <hr>
            <h3 id="total"><strong>TOTAL:</strong> R$ 0,00 </h3>
            <div class="d-flex justify-content-center">
              <button type="submit" id="continuar" class="btn mr-3" routerLink="/product/nossoproduto"><strong>Continuar
                  comprando</strong></button>
              <button type="submit" id="comprar" class="btn" [routerLink]="['/pagamento', vTotal.toFixed(2)]"><strong>Ir para
                  Pagamento</strong></button>
            </div>
          </div>
          
    <%- include('includes/footer') %>
  </body>

</html>