<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { title: 'Formulário' }) %>

  <body>

    <%- include('includes/header') %>
    <div class="card-form">
      <aside class="column">
          <img  class="image"src="../images/Logo/Logo sem fundo 600x600 sem opacidade.png" alt="logotipo">
          <div class="description-empresa">
          <h5>Faça parte da nossa <br> <strong>BEERHOUSE</strong></h5>
          <br>
          <p>Receba uma  newsletter com dicas de <br> fabricação e receitas para harmonização em <br>diversas ocasiões. <br>
          Surpreenda o paladar de seus amigos <br> e família.<br>
          Todo mês um catálogo exclusivo de <br> cervejas dos maiores fabricantes <br> artesanais do Brasil.</p>
        </div>
        </aside>
    <div class="conteudo">
      <div class="header">
        <h2>Seja um VIKINGS</h2>
      </div>
      <% if (typeof errors !== 'undefined') { %>
        <ul>
          <% for(let error in errors) { %>
            <li> <%= errors[error].msg %> </li>
          <% } %>
        </ul>
      <% } %>
      <form action="/cadastro" id="form" class="form" method="POST" enctype="multipart/form-data">
        <div class="form-control">
          <select id="estado">
            <option>
              São Paulo
            </option>
          </select>
         <small>Mensagem de erro</small>
       </div>
        <div class="form-control">
          <input
           id="dataNasc"
           type="date"
           placeholder="Data de Nascimento"
         />
         <small>Mensagem de erro</small>
       </div>
        <div class="form-control">
           <input
            id="username"
            type="text"
            placeholder="Nome Completo"
          />
          <small>Mensagem de erro</small>
        </div>
        <div class="form-control">
           <input
            id="email"
            type="text"
            placeholder="Digite seu email"
          />
          <small>Mensagem de erro</small>
        </div>
        <div class="form-control">
          <input
           id="emailConfirm"
           type="text"
           placeholder="Confirme seu email."
         />
         <small>Mensagem de erro</small>
       </div>

        <div class="form-control">
          <input
            id="password"
            type="password"
            placeholder="Digite sua senha."
          />
          <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
           <input
            id="password-confirmation"
            type="password"
            placeholder="Digite sua senha novamente."
          />
          <small>Mensagem de erro</small>
        </div>
        <div >
        <button class='enviar' type="submit">Enviar</button>
      </div>
      </form>
    </div>
  </body>
</html>