<html lang="pt-br">
  <%- include('includes/head', { title: 'Início' }) %>
  <body>
    <%- include('includes/header') %>
    <div class="home-carousel">
    <a href="/product/nossoproduto"> 
    <img  class='img-home' src="/images/Logo/Seja.Bem.Vindo.png" width="100%" >
    </div>
    <br>
    <%- include('includes/footer') %>
  </body>
</html>