<html lang="pt-br">
  <%- include('includes/head', { title: 'Início' }) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1><img src="/images/logo.oficial.png" alt="VIKINGS BEERHOUSE" width="100%" ></h1>
      <h2>V I K I N G S <br> BEERHOUSE</h2>
      <div class="destaque"> DESTAQUES </div>
      <br>
      <br>
      <nav>
      <ul>
        <li><a href="/product/detail/<%= products.id %>"><p> R$20,00 </p></a></li>
        <li><a href="#"><img src="imagens\c.png" alt="VIKINGS BEERHOUSE" width="500px" height="700px"><p> R$20,00 </p></a></li>
        <li><a href="#"><img src="imagens\i.jpg" alt="VIKINGS BEERHOUSE" width="500px" height="700px"><p> R$25,99 </p></a></li>
      </ul>
    </nav>
    </main>
    <%- include('includes/footer') %>

  </body>
</html>