<!DOCTYPE html>
<html lang="pt-br">
  <%- include('includes/head', { title: 'Login' }) %>
    <body>
      <%- include('includes/header') %>

        <div class="login-container">
          <div class="title-login">
            <h1>LOGIN</h1>
          </div>
          <div class='acess-login'>
                <form action="/login" method="POST">
                <input type="email" id="email" placeholder="E-mail" autocomplete="off">
                <input type="password" id="password" placeholder="Senha" autocomplete="off">
            </form>
          </div>
          <div class="esqueci-senha">
            <a href="#" id="forgot-pass">Esquecer a senha?</a></div>
          <button type="submit" routerLink="/login">Entrar</button>
          <div class="register-container">
                <a href="/cadastro">Criar Conta</a>
            </div>
        </div>

        <%- include('includes/footer') %>
        </body>

</html>